@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #101014;
}

nav a.active {
  color: white;
  background-color: #343437;
}
section li a.active {
  color: white;
}
